

input {
   
    color: black !important;
}


textarea {
    resize: vertical;
    /* background-color: black !important; */
    color: white !important;
}


body {
    background-image: linear-gradient(to right,rgb(0, 128, 105),white);
    font-family: 'Fredoka One', cursive;
}

form{
    background-color: rgba(18, 59, 57, 0.253);
}

.container {
    padding-top: 100px;
}


.btn-aqua{
   background-color: white;
   color: rgb(18, 50, 50);
}


/* @media (min-width: 300px) { 
    form{
        width: 500px !important ;
        background-color: black;
    }
 }  */

/* #searchInput::placeholder {
    color: #ffffff6d;
} */
/* .heading {
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
} */